#nav-login, #nav-register{
	margin-left: 20px;	
}
#bt{
	color: block;
}
#drp{
	color: white;
}
#dropdownMenu1, #register-modal, #login-modal{
	color: brown;
}
#user{
	text-decoration: none;
	color: white;
}
#home{
	color: white;
}
#line{
	background-color: white;
}
#title{
	background: none;
}
.home-btn{
	margin-left: 25px;
}
#titleHeader{
	color: brown;
	background: rgba(250,235,215, 0.5);
}