#nav-login, #nav-register{
	margin-left: 20px;	
}
#bt{
	color: block;
}
#drp{
	color: white;
}
#dropdownMenu1, #register-modal, #login-modal{
	color: brown;
}
#user{
	text-decoration: none;
	color: white;
}
#home{
	color: brown;
	font-size: 25px;
}
#line{
	background-color: white;
}
#title{
	background: none;
}
.home-btn{
	margin-left: 25px;
}
#titleHeader{
	color: rgb(14, 13, 13);
	background: rgba(250,235,215, 0.5);
	font-family: 'Belleza', sans-serif;
}
.Content{
	color: rgb(14, 13, 13);
	font-size: 25px;
	font-family: 'Proza Libre', sans-serif;

}

#fas {
	color: black;
}
