<html>
<head>
{% block title %} {% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/fonts.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
<script src="{{ url_for('static',filename='js/event.js')}}"></script>
<head>
	<style>
		body{
			background-image: url("{{ url_for('static',filename='images/bg.jpg')}}");
		}
	</style>
	<body>
		
	
	<nav class="navbar navbar-expand-sm sticky-top" id="nav">
		<a href="javascript:void(0)" id="home" class="side"><span class="fas fa-bars"></span></a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				{% if isloggedin == 0 -%}
				<a class="btn home-btn" id="home" href="{{ url_for('home',content='home')}}">Home</a>
				{% else -%}
				{% endif -%}
			   
			</li>
		</ul>
		{%block nav%}
		
		{% endblock %}
		<div class="container-fluid">
			
			<div class="container">
				<div class="row" id="row">
					<div class="col">
						<center><h1 class="display-4" id="titleHeader">The Disaster Resilience Rating For Hotels</h1>
							
						</center>
					</div>
				</div>
				<div class="row" id="row">
					<div class="col" >
						<center><h4 id="titleHeader">Because RESILIENCE is everybody's business.</h4></center>
					</div>
				</div>
			</div>
		</div>
		<div id="mySidenav" class="sidenav">
			<a href="#" class="closebtn">&times;</a>
			<div id="hotelItems">
				{% if isloggedin == 0 -%}
				<br><br><br><br><br><br><br><br><br>
				<a href="{{ url_for('home',content='about_us')}}" ><i class="fas fa-info"></i>About Us</a>
				<a href="{{ url_for('home',content='contact_us')}}"><i class="fas fa-id-card-alt"></i>Contact Us</a>
				{% else -%}
				{% endif -%}
			</div>		
		</div>
		{% block content %}
		{% endblock %}
		
</body>
</html>