{%extends 'base.html'%}
{% block title %}
{% if page_content=="home" -%}
    <title>The Disaster Resilience Rating For Hotels - Home</title>
{% elif page_content=="about_us" -%}
    <title>The Disaster Resilience Rating For Hotels - About Us</title>
{% elif page_content=="contact_us" -%}
    <title>The Disaster Resilience Rating For Hotels - Contact Us</title>
{% elif page_content=="framework" -%}
    <title>The Disaster Resilience Rating For Hotels - Our Framework</title>
{% elif page_content=="partners" -%}
    <title>The Disaster Resilience Rating For Hotels - Partners</title>
{% elif page_content=="faq" -%}
    <title>The Disaster Resilience Rating For Hotels - FAQ</title>
{% elif page_content=="rated_hotels" -%}
    <title>The Disaster Resilience Rating For Hotels - Rated Hotels</title>
{% endif -%}
{%endblock%}
{% block nav %}
</ul>
<ul class='navbar-nav ml-auto'>
    <li class='nav-item' id='nav-register' style='margin-right: 1em;'>
        <a class="btn" id="register-modal"data-toggle="modal" data-target="#registerModal" href="#">Register</a>
    </li>
    <li class='nav-item' id='nav-login'>
        <a class='btn' id='login-modal'>
            Login
        </a>
    </li>
</ul>

</nav>
{% endblock %}
{% block content %}
{% if page_content=="home" -%}
Home
{% elif page_content=="about_us" -%}
About us
{% elif page_content=="contact_us" -%}
Contact us
{% elif page_content=="framework" -%}
Framework
{% elif page_content=="partners" -%}
Partners
{% elif page_content=="faq" -%}
Faq
{% elif page_content=="rated_hotels" -%}
Rated hotels
{% else -%}
    <h1 class="display-4">404 Content not found</h1>
{% endif -%}
{% endblock %}