{%extends 'base.html'%}
{% block title %}
The Disaster Resilience Rating For Hotels - Home
{% endblock %}
{% block content %}
<ul class='navbar-nav ml-auto'>
    <li class="nav-item">
        <button type="button" class="btn" id="home">Hello {{username}}</button>
    </li>
</ul>

</nav>

<div class="container-fluid"	id="test">
    <div class="row align-content-center">
        <div class="col col-md-4 bg-danger">
            <h1 class="display-4">The Disaster Resilience Rating For Hotels</h1>
        </div>
        <div class="col col-md-4">
            <hr class="m-4">
        </div>
        <div class="col col-sm-12">
            
        </div>
    </div>

</div>
{% endblock %}