{%extends 'base.html'%}
{% block title %}
The Disaster Resilience Rating For Hotels - Home
{% endblock %}
{% block nav %}
<ul class='navbar-nav ml-auto'>
    <li class='nav-item' id='nav-register' style='margin-right: 1em;'>
        <a class="btn" href="#">Hello {{username}}</a>
    </li>
</ul>
{% endblock %}
{% block content %}
{% if page_content=="home" -%}
{% elif page_content=="about_us" -%}
{% elif page_content=="contact_us" -%}
{% elif page_content=="framework" -%}
{% elif page_content=="partners" -%}
{% elif page_content=="faq" -%}
{% elif page_content=="rated_hotels" -%}
{% else -%}
    <h1 class="display-4">404 Content not found</h1>
{% endif -%}
{% endblock %}