{%extends 'base.html' %}
{%block content %}
<div class='container d-flex h-100'>
    <div class='form-group'>
        <form method='post' action="{{ url_for('')}}">
            <input type='hidden' value='{{content}}' class='form-control'>
            <input type='text' name='hotel' value='{{hotel}}' class='form-control' readonly='readonly' required id='hotel'>
            <input type='text' name='fullname' value='{{fullname}}' class='form-control' readonly='readonly' required>
            <input type='password' name='password' value='{{password}}' class='form-control' readonly='readonly' required>
            <input type='password' name='npassword' id='npw' class='form-control'>
            <input type='password' name='verify' id='npass' class='form-control'>
        </form>
    </div>
</div>
<form method='post' action="{{ url_for('',content='{{content}}')}}" class=''>
    <input type='text' value='{{ hotel }}' readonly='readonly'>
</form>
{%endblock%}